html, body {
  height: 100%; }

.container {
  width: 100%; }

.table {
  margin: auto;
  width: 798px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -399px;
  margin-top: -300px; }

.panel {
  position: absolute;
  width: 25%;
  display: inline-block;
  height: 600px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  transition-property: width, left;
  transition-duration: 1.5s, 1.5s;
  transition-timing-function: ease, ease;
  z-index: 5; }
  .panel.active {
    width: 100%;
    z-index: 5;
    left: 0; }

.inner {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: white;
  transition: all 1.5s ease;
  background-repeat: no-repeat; }

.panel-1 {
  left: 0; }
  .panel-1 .inner {
    background-position-x: -1726px;
    background-position-y: -369px;
    background-size: 4000px;
    background-image: url(../img/panel-1.svg); }
  .panel-1.active .inner {
    background-position-x: -1100px;
    background-position-y: -158px;
    background-size: 2900px; }
  .panel-1.active.load .inner {
    transition: all 2.5s ease;
    background-position-x: -60px;
    background-position-y: 9px;
    background-size: 900px; }

.panel-2 {
  left: 25%; }
  .panel-2 .inner {
    background-position-x: -319px;
    background-position-y: -224px;
    background-size: 1363px;
    background-image: url(../img/panel2.jpg); }
  .panel-2.active .inner {
    background-position-x: 0px;
    background-position-y: 0;
    background-size: 800px; }

.panel-3 {
  left: 50%; }
  .panel-3 .inner {
    background-size: 2007px;
    background-image: url(../img/panel3.jpg);
    background-position-x: -982px;
    background-position-y: -447px; }
    .panel-3 .inner .fa {
      display: none; }
  .panel-3 video {
    opacity: 0;
    transition: all 3s ease;
    cursor: pointer; }
  .panel-3 .btn-container {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: none;
    text-align: center; }
  .panel-3 .btn-group {
    width: 400px;
    margin: auto; }
  .panel-3 .btn-inner {
    display: inline-block;
    width: 33%;
    text-align: center; }
  .panel-3 .btn {
    width: 100px; }
  .panel-3.active .inner {
    transition: all 1.5s ease;
    background-position-x: -558px;
    background-size: 1965px; }
  .panel-3.load video {
    opacity: 1;
    background-color: white;
    cursor: default; }
  .panel-3.load .fa {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 26px;
    cursor: pointer;
    z-index: 100;
    padding: 15px;
    color: rgba(0, 0, 0, 0.14); }
    .panel-3.load .fa:hover {
      color: black; }
  .panel-3.load:hover .fa {
    display: inline; }
  .panel-3.load:hover .btn-container {
    display: block; }

.panel-4 {
  left: 75%; }
  .panel-4 .inner {
    background-position-x: -4335px;
    background-position-y: -975px;
    background-size: 5825px;
    background-image: url(../img/panel4.jpg); }
  .panel-4.active .inner {
    background-position-x: -3573px;
    background-position-y: -930px;
    background-size: 5600px; }
  .panel-4.load .inner {
    background-position-x: -100px;
    background-position-y: 0;
    background-size: 1000px; }
