html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

.container {
  width: 100%; }

.table {
  margin: auto;
  height: 99vh;
  position: absolute;
  left: 50%;
  top: 49%;
  margin-left: -399px;
  margin-top: -300px;
  overflow: hidden;
  border: 5px solid #acacac; }

.panel {
  position: absolute;
  width: 20%;
  display: inline-block;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  transition-property: width, left;
  transition-duration: 1.5s, 1.5s;
  transition-timing-function: ease, ease;
  z-index: 5; }
  .panel.active {
    width: 101%;
    z-index: 5;
    left: 0; }

.inner {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: white;
  background-repeat: no-repeat; }

.panel-1 {
  left: 0; }
  .panel-1 .inner {
    background-image: url(../img/panel-1.svg);
    border-right: 2px solid #acacac; }
  .panel-1.active.load .inner {
    transition: all 2.5s ease; }

.panel-2 {
  left: 20%; }
  .panel-2 .inner {
    background-image: url(../img/panel2.jpg);
    border-right: 2px solid #acacac; }

.panel-3 {
  left: 40%; }
  .panel-3 .inner {
    background-image: url(../img/panel3.jpg);
    border-right: 2px solid #acacac; }
    .panel-3 .inner .fa {
      display: none; }
  .panel-3 .video {
    opacity: 0;
    transition: all 1.5s ease;
    cursor: pointer; }
  .panel-3 .video2 {
    position: absolute;
    top: 4.5%;
    right: -14.8%; }
  .panel-3 .btn-container {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: none;
    text-align: right;
    right: 15px; }
  .panel-3 .btn-group {
    width: 400px;
    margin: auto; }
  .panel-3 .btn-inner {
    display: inline-block;
    text-align: center; }
  .panel-3 .btn {
    border-radius: 100%;
    height: 30px;
    width: 30px; }
  .panel-3.active .inner {
    transition: all 1.5s ease;
    background-position-x: -558px;
    background-size: 1965px; }
  .panel-3.load .video1 {
    opacity: 1;
    background-color: white;
    cursor: default; }
  .panel-3.load .fa {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 26px;
    cursor: pointer;
    z-index: 100;
    padding: 15px;
    color: rgba(0, 0, 0, 0.14); }
    .panel-3.load .fa:hover {
      color: black; }
  .panel-3.load:hover .fa {
    display: inline; }
  .panel-3.load:hover .btn-container {
    display: block; }

.panel-3-2 {
  left: 60%; }
  .panel-3-2 .inner {
    background-image: url(../img/panel3-2.jpg);
    border-right: 2px solid #acacac; }
    .panel-3-2 .inner .fa {
      display: none; }
  .panel-3-2 .video {
    opacity: 0;
    transition: all 1.5s ease;
    cursor: pointer; }
  .panel-3-2 .video2 {
    position: absolute;
    top: 4.5%;
    right: -14.8%; }
  .panel-3-2 .btn-container {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: none;
    text-align: right;
    right: 15px; }
  .panel-3-2 .btn-group {
    width: 400px;
    margin: auto; }
  .panel-3-2 .btn-inner {
    display: inline-block;
    text-align: center; }
  .panel-3-2 .btn {
    border-radius: 100%;
    height: 30px;
    width: 30px; }
  .panel-3-2.active .inner {
    transition: all 1.5s ease;
    background-position-x: -558px;
    background-size: 1965px; }
  .panel-3-2.load .video2 {
    opacity: 1;
    background-color: white;
    cursor: default; }
  .panel-3-2.load .fa {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 26px;
    cursor: pointer;
    z-index: 100;
    padding: 15px;
    color: rgba(0, 0, 0, 0.14); }
    .panel-3-2.load .fa:hover {
      color: black; }
  .panel-3-2.load:hover .fa {
    display: inline; }
  .panel-3-2.load:hover .btn-container {
    display: block; }

.panel-4 {
  left: 80%; }
  .panel-4 .inner {
    background-image: url(../img/panel4-2.jpg); }

#preload-01 {
  background: url(../img/panel4.jpg) no-repeat -9999px -9999px; }
