html,body {
    height:100%;
        background-color: rgba(128, 128, 128, 0.25);
}
.container {
	width: 100%;
}
.table {
	margin: auto;
	width: $width;
	height: $height;
	// position: relative;
	    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -399px;
    margin-top: -300px;
}
.panel {
	position: absolute;
	z-index: 2;
	width: 25%;
  	display: inline-block;
  	height: $height;
	overflow: hidden;
	transition: all 2s;
	&:hover {
		transition: transform 1s;
		transform: scale(1.03);
		// outline: -webkit-focus-ring-color auto 5px;
	}
	&.active{
		width: 100%;
		z-index: 3;
		left: 0;
		.inner {
			z-index: 3;
		}
	}
}
.inner {
	position: relative;
	z-index: 1;
	height: 100%;
	// width: $quarter;
	width: 100%;
	background-color: white;
	transition: all 3s;
	transition: z-index 0;

	background-repeat: no-repeat;
}
.panel-1{
	left: 0;

	.inner {

		background-position-x: -1576px;
		    background-position-y: -308px;
		    background-size: 3800px;
	    background-image: url(../img/panel1-1.jpg);
	}
	&.active {
		.inner {
	    	background-position-x: -1100px; 
	    	background-position-y: -158px;
	    	background-size: 2900px;
		}
		&.load {
			.inner {
				background-position-x: -10px;
			    background-position-y: 15px;
			    background-size: 818px;
			    // transition: all 3s;
			}
		}
	}
}
.panel-2{
	left: 25%;
	.inner {
		background-position-x: -319px;
		background-position-y: -224px;
		background-size: 1363px;
	  	background-image: url(../img/panel2.jpg);
	}
	&.active {
		.inner {
			background-position-x: 0px;
			background-position-y: 0;
			background-size: 800px;
		}
	}
}
.panel-3{
	left: 50%;
	.inner {
		background-size: 2007px;
		    background-image: url(../img/panel3.jpg);
		    background-position-x: -982px;
		    background-position-y: -447px;
	}
	video {
		opacity: 0;
		transition: all 3s ease;
	}
	&.active {
		.inner {
			background-position-x: -558px;
			background-size: 1965px;
		}
	}
	&.load {
		video {
			opacity: 1;
		}
	}
}
.panel-4{
	left: 75%;
	.inner {
		background-position-x: -4335px;
		background-position-y: -975px;
		background-size: 5825px;

	  	background-image: url(../img/panel4.jpg);
	}
	&.active {
		.inner {
			background-position-x: -3573px;
			background-position-y: -930px;
			background-size: 5600px;
		}
	}
	&.load {
		.inner {
			background-position-x: -100px;
			background-position-y: 0;
			background-size: 1000px;
		}
	}
}
