html,body {
    height:100%;
}
.container {
	width: 100%;
}
.table {
	margin: auto;
	width: $width;
	height: $height;
	position: relative;
}
.panel {
	position: absolute;
	z-index: 2;
	width: 25%;
  	display: inline-block;
  	height: $height;
	overflow: hidden;
	transition: all 2s;
	&.active{
		width: 100%;
		z-index: 3;
		left: 0;
	}
}
.inner {
	position: relative;
	z-index: 1;
	height: 100%;
	// width: $quarter;
	width: 100%;
	background-color: white;
	transition: all 3s;

	background-repeat: no-repeat;
}
.panel-1{
	left: 0;

	.inner {
		background-position-x: -1434px;
		    background-position-y: -242px;
		    background-size: 3500px;
	    background-image: url(../img/panel1-1.jpg);
	}
	&.active {
		.inner {
	    	background-position-x: -1163px; 
		}
		&.load {
			.inner {
				background-position-x: -10px;
			    background-position-y: 15px;
			    background-size: 818px;
			    // transition: all 3s;
			}
		}
	}
}
.panel-2{
	left: 25%;
	.inner {
		background-position-x: -275px;
		background-position-y: -125px;
		background-size: 1176px;
	  	background-image: url(../img/panel2.jpg);
	}
	&.active {
		.inner {
			background-position-x: 0px;
			background-position-y: 0;
			background-size: 800px;
		}
	}
}
.panel-3{
	left: 50%;
	.inner {
		background-size: 1775px;
		background-image: url(../img/panel3.jpg);
		background-position-x: -900px;
		background-position-y: -335px;
	}
	video {
		opacity: 0;
		transition: all 3s ease;
	}
	&.active {
		.inner {
			background-position-x: -468px;
		}
	}
	&.load {
		video {
			opacity: 1;
		}
	}
}
.panel-4{
	left: 75%;
	.inner {
		background-position-x: -4003px;
		background-position-y: -836px;
		background-size: 5300px;
	  	background-image: url(../img/panel4.jpg);
	}
}
